[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
sentence-transformers = "*"
openai = "*"
langchain-google-genai = "*"
python-dotenv = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
